<ion-view view-title="Notification">
  <ion-content ng-controller="notificationCtrl">
    <!--<h4><i class="icon ion-speakerphone"></i>Notifications</h4>-->
		    <form name="myForm">
            <label for="repeatSelect">Notifications filter: </label>
	          <select class="btn btn-danger" name="repeatSelect" id="repeatSelect" ng-model="search_model">
	              <option value = "all">All events</option>
	              <option ng-repeat="(eid, myEvent) in myEvents" value="{{eid}}">{{events.$getRecord(eid).eventInfo.name}}</option>
	          </select>
      	</form>    

        <div ng-repeat="(eid, myEvent) in filterEvent(myEvents, search_model)">
            <div ng-show="myEvent.notifications != null" class="card">
                  <div class="item item-divider" ng-show="myEvent.notifications">
                      <h3>Notification from <a href = "#/dashboard/event/{{eid}}/">{{allEvents.$getRecord(eid).eventInfo.name}}</a>
                      </h3>
                  </div>
                  <div class="item item-text-wrap"  ng-repeat="(nid,notification) in myEvent.notifications" ng-show="myEvent.notifications != null"  >
                      <!--<span ng-show="!notification.isRead">(Unread)</span>-->
                      <span ng-if="!notification.isRead"><strong>{{notification.content}}</strong></span>
                      <span ng-if="notification.isRead">{{notification.content}}</span>
                      <button class="button button-assertive button-small" ng-show ="!notification.isRead" ng-click = "changeState(eid,nid)">
                          <i class = "icon icon ion-checkmark-round"></i>
                      </button>
                  </div>
            </div>
        </div>

                
    <!--<div ng-repeat="(eid, myEvent) in filterEvent(myEvents, search_model)">
        <div class="item item-divider" ng-href="#/dashboard/event/{{eid}}">
            Event {{events.$getRecord(eid).eventInfo.name}}
        </div>-->

    <!--</div>-->
  </ion-content>
</ion-view>
