<ion-view view-title="Profile">
  <ion-content>
    <div class="row">
      <div class="col col-75">
         <h2 class="icon-right">
            <i class="icon ion-ios-paper"></i> My Profile
          </h2>
      </div>
      <div class="col">
          <button class="icon-right button button-positive button-outline button-round" ng-click = "profile_edit()" ng-if="button_visible">
            <i class="icon ion-edit"></i> Edit
          </button>
      </div>
    </div>
    
    
    <div>
      <div class="list card">
        <div class="item">
          Name: {{profile_info.name}}
        </div>
        <div class="item">
          Age: {{profile_info.age}}
        </div>
        <div class="item">
          Company: {{profile_info.company}}
        </div>
        <div class="item">
          Email: {{profile_info.email}}
        </div>
        <div class="item">
          Phone: {{profile_info.phone}}
        </div>
        <div class="item">
          Nationality: {{profile_info.nationality}}
        </div>
        <div class="item">
          Facebook: {{profile_info.facebook}}
        </div>
    </div>

      <div class="card list">
        
        <div class="item item-divider">
          
          <span class="icon-right">
            <i class="icon ion-ios-pricetag"></i>
            My Tags
          </span>
          <p>Skill, language and manner!</p>
        </div>
          
        <div class="item item-text-wrap">
          <button class="button button-royal button-small">Skill</button>
          <span ng-repeat="(name, value) in profile_info.tags.SkillTags" >
              <button class="button button-royal button-small button-outline">{{name}} [{{value}}]</button>
            </span>
        </div>

        <div class="item item-text-wrap">
          <button class="button button-energized button-small">Language</button>
          <span ng-repeat="(name, value) in profile_info.tags.LanguageTags">
              <button class="button button-energized button-small button-outline">{{name}}</button>
          </span>
        </div>

        <div class="item item-text-wrap">
          <button class="button button-assertive button-small">Manner</button>
          <span ng-repeat="(name, value) in profile_info.tags.MannerTags">
              <button class="button button-assertive button-small button-outline">{{name}}</button>
          </span>
        </div>
      </div>

      
        <!--<div class="list">
          <label class="item item-input item-stacked-label range range-positive">
            <span class="input-label">JavaScript</span>
            <input type="range" name="volume" min="0" max="100" value="33">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="John">
          </label>
          <div class="item range range-positive">
            HTML:<input type="range" name="volume" min="0" max="100" value="33">
          </div>-->
      
      <!--<ion-list>
        <ion-item>
          <ion-range min="0" max="100" [(ngModel)]="saturation" color="secondary">
            <ion-label range-left>0</ion-label>
            <ion-label range-right>100</ion-label>
          </ion-range>
        </ion-item>
      </ion-list>-->

  </ion-content>
</ion-view>
