<ion-view view-title="Request">
  <ion-content>
    <div ng-controller="requestCtrl">
        <div class="col-sm-6">
            <form name="myForm">
                <label for="repeatSelect">Request filter: </label>
                <select name="repeatSelect" id="repeatSelect" ng-model="search_model">
                    <option value = "all">All Events</option>
                    <option ng-repeat="(eid, myEvent) in myEventList" value="{{eid}}">{{allEvents.$getRecord(eid).eventInfo.name}}</option>
                </select>
            </form>
            <hr>
                <div ng-repeat="(eid, myEvent) in filterEvent(myEventList, search_model)">
                    <!--<div ng-show="myEvent.applications == null && myEvent.invitations == null && ">No requests!</div>-->
                    <div ng-show="myEvent.applications != null || myEvent.invitations != null" class="card">
                        <div class="item item-divider" ng-show="myEvent.applications">
                            <h3>Applications to 
                                <a ng-href = "#/dashboard/event/{{eid}}/">
                                    {{allEvents.$getRecord(eid).eventInfo.name}}
                                </a>
                            </h3>
                        </div>
                        <div class="item item-text-wrap" ng-repeat="(teamKey, tid) in myEvent.applications">
                            You are currently applying for the team <span><a ng-href = "#/dashboard/event/{{eid}}/team/{{tid}}">{{allEvents.$getRecord(eid).teams[tid].name}}</a></span>. 
                            <i aria-hidden="true" ng-click="withdrawApp(eid, tid)"class="icon ion-close-round"></i>
                        </div>
                        <div class="item item-divider" ng-show="myEvent.invitations">
                            <h3>invitation from 
                                <a ng-href = "#/dashboard/event/{{eid}}/">{{allEvents.$getRecord(eid).eventInfo.name}}</a>
                            </h3>
                        </div>
                        <div class="item item-text-wrap" ng-repeat="(teamKey, tid) in myEvent.invitations">
                            Team <span><a ng-href = "#/dashboard/event/{{eid}}/team/{{tid}}">{{allEvents.$getRecord(eid).teams[tid].name}}</a></span> has sent you an invitation. 
                            <i aria-hidden="true" ng-click="acceptInvi(eid, tid)" class="icon ion-checkmark-round"></i>
                            <i aria-hidden="true" ng-click="declineInvi(eid, tid)" class="icon ion-close-round"></i>
                        </div>
                    </div>
                </div>
        </div>
    </div>

  </ion-content>
</ion-view>
