<ion-view view-title="{{data.name}} Page">
  <ion-content>
    <!-- Basic Team Information -->
        <div>
            <h3>
              Teamname:  {{teamdata.name}}
            </h3>
            <button class="btn btn-primary" ng-click="changeTeamInfoDialogue()" ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID">Change Team info</button>
            <h3 ng-if = "((myEvents[eventID] | role)=='leader' || (myEvents[eventID] | role)=='member')">{{myEvents[eventID] | role}} of team {{teams.$getRecord(user_teamdata.team ).name}} </h3>
            <h3 ng-if="(myEvents[eventID] | role)=='tba' || (myEvents[eventID] | role)=='visitor'">{{myEvents[eventID] | role}}</h3>
            <p>
              {{teamdata.desc}}
            </p>
            <button type = "button" class = "btn btn-primary" ng-if="((myEvents[eventID] | role)=='tba' )&& !alreadyApplied()" ng-click = "ApplyTeam()">Apply for this team</button>
            <button type = "button" class = "btn btn-primary" disabled="disabled" ng-if="((myEvents[eventID] | role)=='tba' ) && alreadyApplied() " ng-click = "ApplyTeam()">Aleady Applied</button>
            <button type = "button" class = "btn btn-primary" ng-if="(myEvents[eventID] | role)=='member' && (myEvents[eventID] | teamId)==teamID" ng-click = "QuitTeam()">Quit this team</button>
            <button type = "button" class = "btn btn-primary" ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID" ng-click = "Change_Leader()">Change team leader</button>
        </div>
        <!-- Members -->

              <div class="">
                  <h3 class="">Members &nbsp; Max:{{teamdata.max}}, current:{{teamdata.currentSize}}</h3>
              </div>
              <div class="">
                <ul ng-repeat="(id,uid) in filterLeader(members,teamdata.leader)">
                    <li> <a ng-href= "#/dashboard/profile/{{uid}}">{{users.$getRecord(uid).readOnly.name}}</a>
                      <button type = "button" class = "btn btn-primary" ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID" ng-click = "DeleteMember(uid)">Reject</button>
                      <button type = "button" class = "btn btn-primary" ng-if="(myEvents[eventID] | role)=='leader' && leader_change && (myEvents[eventID] | teamId)==teamID" ng-click = "SetLeader(uid)">Select as new leader</button>
                    </li>
                </ul>
              </div>
              <div>
                <h6>Team Leader:</h6>
                <a ng-href= "#/dashboard/profile/{{teamdata.leader}}">  {{users.$getRecord(teamdata.leader).readOnly.name}}</a>
                <!--<ul ng-repeat="(id,uid) in leader">
                  <li>{{users.$getRecord(uid).readOnly.name}}
                  </li>
                </ul>-->
              </div>
          <!-- Tags -->
            <div class="">
              <div class="">
                  <!-- {{noSkillTags}} -->
                  <h3 class="">Tags</h3>
              </div>
              <div class=""> Skill Tags:
                <div ng-if = "noSkillTags">
                  None
                </div>
                <ul ng-repeat="(name,value) in filterSkillTags(skilltags)">
                    <li>{{name}} : {{value}}</li>
                </ul>
              </div>
              <<!-- {{noLanguageTags}} -->
              <div class="panel-body"> Language Tags:
                <div ng-if = "noLanguageTags">
                  None
                </div>
                <ul ng-repeat="(name,value) in filterLanguageTags(languagetags)">
                    <li>{{name}}</li>
                </ul>
              </div>
              <!-- {{noMannerTags}} -->
              <div class="panel-body"> Manner Tags:
                <div ng-if = "noMannerTags">
                  None
                </div>
                <ul ng-repeat="(name,value) in filterMannerTags(mannertags)">
                    <li>{{name}}</li>
                </ul>
              </div>
              <div class="">
                  <!-- <button type = "button" class = "btn btn-default" data-toggle = "modal" data-target = "#myModal">add a skill tag</button> -->
                  <button type = "button" class = "btn btn-default" ng-click="ManageTagDialogue()"  ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID">Manage team tags</button>
              </div>
            </div>


          <!-- Applications -->


          <div ng-if="((myEvents[eventID] | role)=='leader' ||(myEvents[eventID] | role)=='member')  && (myEvents[eventID] | teamId)==teamID">
              <div class="">
                <h3 class="">Applications</h3>
              </div>
              <form name="myForm" >
                  <label for="repeatSelect"> Search applications by status: </label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="search_model">
                      <option value = "all">All applications</option>
                      <option ng-repeat="(key, status) in statusList" value="{{status}}">{{status}}</option>
                  </select>
              </form>
              <div class="">
                <ul ng-repeat="(uid,status) in filterByStatus(applications,search_model)">
                  <li>
                    {{users.$getRecord(uid).readOnly.name}} : {{status}}
                    <button type="button" class="btn btn-primary" ng-click="accept_Application(uid)" ng-if = "(myEvents[eventID] | role)=='leader' &&  status == 'pending'  && (myEvents[eventID] | teamId)==teamID">Accept</button>
                    <button type="button" class="btn btn-primary" ng-click="decline_Application(uid)" ng-if = "(myEvents[eventID] | role)=='leader' &&  status == 'pending'  && (myEvents[eventID] | teamId)==teamID">Reject</button>
                  </li>
                </ul>
              </div>
          </div>
          <!-- Invittions -->
          <div class="" ng-if="(myEvents[eventID] | role)=='leader' ||(myEvents[eventID] | role)=='member' && (myEvents[eventID] | teamId)==teamID " >
            <div class="">
              <div class="">
                <h3 class="">Invitations</h3>
              </div>
              <form name="myForm">
                  <label for="repeatSelect"> Search invitations by status: </label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="search_model">
                      <option value = "all">All invitations</option>
                      <option ng-repeat="(key, status) in statusList" value="{{status}}">{{status}}</option>
                  </select>
              </form>
              <div class="">
                <ul ng-repeat="(uid,status) in filterByStatus(invitations,search_model)">
                  <li>{{users.$getRecord(uid).readOnly.name}} : {{status}}</li>
                </ul>
              </div>
            </div>
          </div>-->
          <!-- Announcements -->

            <div class="">
              <div class="">
                <h3 class=""> Notification Board</h3>
              </div>
              <div class="">
                <ul ng-repeat="x in announcements">
                  <li>
                    {{x.content}} &nbsp; Date : {{x.timeStamp | DateFormat | date:'yyyy-MM-dd HH:mm' }}
                    <button type="button" class="btn btn-default" ng-click="deleteAnnouncement(x.$id)"  ng-if="isDeletingTeamAnn && (myEvents[eventID] | role)=='leader'  && (myEvents[eventID] | teamId)==teamID">Delete</button>
                  </li>
                </ul>
                <button type = "button" class = "btn btn-default" data-toggle = "modal" data-target = "#myModal2"  ng-if="(myEvents[eventID] | role)=='leader'  && (myEvents[eventID] | teamId)==teamID">Post an announcement</button>
                <button type = "button" class = "btn btn-default" ng-click = "deleteTeamAnnouncementChoice()" ng-if="(myEvents[eventID] | role)=='leader'  && (myEvents[eventID] | teamId)==teamID">Delete announcements</button>
              </div>
            </div>



        <!-- Modal for add announcements-->
        <!--<div class = "modal fade" id = "myModal2" role = "dialog">
            <div class = "">
               Modal content
              <div class = "">
                <div class = "">
                  <button type = "button" class = "close" data-dismiss = "modal">&times;</button>
                  <h4 class = "">Please write the message</h4>
                </div>
                <div class = "">
                  <form class = "">
                    <div class = "">
                        <label for = "name">Message to be anncounced:</label>
                        <input type = "text" name = "name" ng-model = "form.announcementmsg" >
                        <button class = "btn btn-primary" ng-click = "addAnnouncement(form.announcementmsg)" data-dismiss = "modal">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>-->

   
  </ion-content>
</ion-view>