<ion-view cache-view="false">
  <ion-nav-title> {{data.name}} Page </ion-nav-title>
  <ion-content class="padding">
    <div class="list card">
        <div class="item item-divider">
            <div class="row row-center">
                <div class="col">
                    <font size="4"><i class="icon ion-clipboard"></i>    <b>Team Information<b></font>
                </div>
                <div class="col text-right">
                    <button class = "button button-clear button-dark" ng-click="changeTeamInfoDialogue()" ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID">
                        <i class="icon ion-compose"></i>
                    </button>
                </div>
            </div>
        </div>
        <span class="item">
            <h4 style="color: grey;">Team Name</h4>
            {{teamdata.name}}
        </span>
        <span class="item" ng-href="#/dashboard/profile/{{teamdata.leader}}">
            <h4 style="color: grey;">Team leader</h4>
            {{users.$getRecord(teamdata.leader).readOnly.name}}
        </span>
        <span class="item">
            <h4 style="color: grey;">Team info</h4>
            <span ng-if="!editingInfo">{{teamdata.desc}}</span>
        </span>
        <span class="item" ng-if = "(myEvents[eventID] | teamId)==teamID || (myEvents[eventID] | role)=='tba' || (myEvents[eventID] | role)=='admin'">
            <h4 style="color: grey;">Role</h4>
            {{myEvents[eventID] | role}} 
        </span>
        <!--<span class="item" ng-if="(myEvents[eventID] | role)=='tba' || (myEvents[eventID] | role)=='visitor'">
            <h4 style="color: grey;">Role</h4>
            {{myEvents[eventID] | role}}
        </span>-->
        <span class="item">
            <h4 style="color: grey;">Team size</h4>
            {{teamdata.currentSize}} / {{teamdata.max}}
        </span>
        
    </div>
    
    <!-- Basic Team Information -->
    <button class = "button button-positive button-block" ng-if="((myEvents[eventID] | role)=='tba' )&& !alreadyApplied()" ng-click = "ApplyTeam()">Apply for this team</button>
    <button class = "button button-positive button-outline button-block" ng-click="Change_Leader()" ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID">Change team leader</button>

    <!-- Members -->
    <ion-list>
        <div class="item item-divider">
            <!--<div class="row row-center">-->
                <div class="icon-left">
                    <font size="4"><i class="icon ion-person-stalker"></i>    <b>Members</b>    </font>
                </div>
                <!--<div class="col text-right">
                    <button class="button button-dark button-small no-padding" ng-click="manage()"  ng-if="!(myEvent===undefined) && myEvent.position=='admin'">
                        <i class="icon ion-gear-b"></i>
                    </button>
                </div>-->
            <!--</div>-->
        </div>      
        <ion-item ng-repeat="(id,uid) in filterLeader(members,teamdata.leader)" ng-href= "#/dashboard/profile/{{uid}}">
            <div class="row row-center">
                {{users.$getRecord(uid).readOnly.name}}
                <button class="button button-assertive button-small" ng-click="DeleteMember(uid)" ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID">
                    <i class="icon ion-close-round"></i>
                </button>
                <button class="button button-assertive button-small" ng-click="SetLeader(uid)" ng-if="(myEvents[eventID] | role)=='leader' && leader_change && (myEvents[eventID] | teamId)==teamID">
                    <i class="icon ion-ios-plus"></i>
                </button>
            </div>
        </ion-item>
    </ion-list>


    <br>
          <!-- Tags -->
              
    <ion-list>
        <div class="item item-divider">
            <div class="row row-center">
                <span class="icon-left col">
                    <font size="4"><i class="icon ion-ios-pricetag"></i>    <b>Tags</b></font>
                </span>
                <div class="col text-right">
                    <button class="button button-dark button-clear" ng-click="ManageTagDialogue()" ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID" >
                        <i class="icon ion-compose"></i>
                    </button>
                    <!--<button class="button button-assertive button-small" ng-click="deleteAnnouncementChoice()" ng-if="(myEvent | role)=='admin'">
                        <i class="icon ion-ios-trash"></i>
                    </button>-->
                </div>
            </div>
        </div>        
        <div class="item item-text-wrap">
          <button class="button button-royal button-small">Skill</button>
          <span ng-repeat="(name,content) in filterSkillTags(skilltags)">
                <!--<button class="btn btn-xs btn-default" ng-style="{backgroundColor:content.color}" ng-if="content.value">{{name}} [{{content.value}}]</button>-->
                <button class="button button-royal button-small" ng-if="content.value && content.color=='red'">{{name}} [{{value}}]</button>
                <button class="button button-royal button-small button-outline" ng-if="content.value && content.color=='green'">{{name}} [{{value}}]</button>
          </span>
        </div>

        <div class="item item-text-wrap">
          <button class="button button-energized button-small">Language</button>
          <span ng-repeat="(name,value) in filterLanguageTags(languagetags)">
              <button class="button button-energized button-small button-outline">{{name}}</button>
          </span>
        </div>

        <div class="item item-text-wrap">
          <button class="button button-assertive button-small">Manner</button>
          <span ng-repeat="(name,value) in filterMannerTags(mannertags)">
              <button class="button button-assertive button-small button-outline">{{name}}</button>
          </span>
        </div>
    </ion-list>
    

          <!-- Applications -->
          
          <div class="card list">
            <div class="item item-divider">
                <div class="row row-center">
                    <span class="icon-left col">
                        <font size="4"><i class="icon ion-clipboard"></i>    <b>Applications</b></font>
                    </span>
                    <div class="col text-right">
                        <button class="button button-positive button-small" ng-click="createAnnouncementDialogue()" ng-if="(myEvent | role)=='admin'">
                            <i class="icon ion-compose"></i>
                        </button>
                        <button class="button button-assertive button-small" ng-click="deleteAnnouncementChoice()" ng-if="(myEvent | role)=='admin'">
                            <i class="icon ion-ios-trash"></i>
                        </button>
                    </div>
                </div>
            </div>

          
                <form name="myForm">
                  <button class="btn btn-danger">
                    <i class="icon-filter"></i>
                    <select class="btn btn-danger" name="repeatSelect" id="repeatSelect" ng-model="search_model_appli">
                        <option value = "all">All applications</option>
                        <option ng-repeat="(key, status) in statusList" value="{{status}}">{{status}}</option>
                    </select>
                  </button>
                </form>
                <hr>
                <!--###Content###-->
                  <div class="row" ng-repeat="(uid,status) in filterByStatus(applications,search_model_appli)">
                    <div class="col-md-8">
                      <a class="btn btn-primary btn-block btn-sm" type="button" ng-href= "/#/dashboard/profile/{{uid}}" style="text-align:left">
                        {{users.$getRecord(uid).readOnly.name}} : {{status}}
                      </a>
                    </div>
                    <button class="btn btn-danger btn-sm" ng-click="accept_Application(uid)" ng-if = "(myEvents[eventID] | role)=='leader' &&  status == 'pending'  && (myEvents[eventID] | teamId)==teamID" data-toggle="tooltip" data-placement="bottom" title="Accept the application">
                      <i class="icon-ok-sign"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" ng-click="decline_Application(uid)" ng-if = "(myEvents[eventID] | role)=='leader' &&  status == 'pending'  && (myEvents[eventID] | teamId)==teamID" data-toggle="tooltip" data-placement="bottom" title="Decline the application">
                      <i class="icon-remove-sign"></i>
                    </button>
                  </div> <!--row ng-repeat-->
              </div> <!--caption-->
            </div> <!--thumbnail-->
          </div> <!--col-md-4-->

          <div ng-if="((myEvents[eventID] | role)=='leader' ||(myEvents[eventID] | role)=='member')  && (myEvents[eventID] | teamId)==teamID">
              <div class="">
                <h3 class="">Applications</h3>
              </div>
              <form name="myForm" >
                  <label for="repeatSelect"> Search applications by status: </label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="search_model">
                      <option value = "all">All applications</option>
                      <option ng-repeat="(key, status) in statusList" value="{{status}}">{{status}}</option>
                  </select>
              </form>
              <div class="">
                <ul ng-repeat="(uid,status) in filterByStatus(applications,search_model)">
                  <li>
                    {{users.$getRecord(uid).readOnly.name}} : {{status}}
                    <button type="button" class="btn btn-primary" ng-click="accept_Application(uid)" ng-if = "(myEvents[eventID] | role)=='leader' &&  status == 'pending'  && (myEvents[eventID] | teamId)==teamID">Accept</button>
                    <button type="button" class="btn btn-primary" ng-click="decline_Application(uid)" ng-if = "(myEvents[eventID] | role)=='leader' &&  status == 'pending'  && (myEvents[eventID] | teamId)==teamID">Reject</button>
                  </li>
                </ul>
              </div>
          </div>



          <!-- Invittions -->
          <div class="" ng-if="(myEvents[eventID] | role)=='leader' ||(myEvents[eventID] | role)=='member' && (myEvents[eventID] | teamId)==teamID " >
            <div class="">
              <div class="">
                <h3 class="">Invitations</h3>
              </div>
              <form name="myForm">
                  <label for="repeatSelect"> Search invitations by status: </label>
                  <select name="repeatSelect" id="repeatSelect" ng-model="search_model">
                      <option value = "all">All invitations</option>
                      <option ng-repeat="(key, status) in statusList" value="{{status}}">{{status}}</option>
                  </select>
              </form>
              <div class="">
                <ul ng-repeat="(uid,status) in filterByStatus(invitations,search_model)">
                  <li>{{users.$getRecord(uid).readOnly.name}} : {{status}}</li>
                </ul>
              </div>
            </div>
          </div>-->
          <!-- Announcements -->

            <div class="">
              <div class="">
                <h3 class=""> Notification Board</h3>
              </div>
              <div class="">
                <ul ng-repeat="x in announcements">
                  <li>
                    {{x.content}} &nbsp; Date : {{x.timeStamp | DateFormat | date:'yyyy-MM-dd HH:mm' }}
                    <button type="button" class="btn btn-default" ng-click="deleteAnnouncement(x.$id)"  ng-if="isDeletingTeamAnn && (myEvents[eventID] | role)=='leader'  && (myEvents[eventID] | teamId)==teamID">Delete</button>
                  </li>
                </ul>
                <button class="btn btn-default" ng-click="addAnnouncementDialogue()" ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID">Post an announcement</button>
            <button type = "button" class = "btn btn-default" ng-click = "deleteTeamAnnouncementChoice()" ng-if="(myEvents[eventID] | role)=='leader'  && (myEvents[eventID] | teamId)==teamID">Delete announcements</button>
              </div>
            </div>

  
              <!--<div class="panel-heading">
                //by yre 
                <h3 class="panel-title"></h3>
              </div>
              <div class="panel-body" ng-init = "initchart()">
    <canvas id="myChart" width="200" height="200"></canvas>
              </div>-->
  

        <!-- Modal for add announcements-->
        <!--<div class = "modal fade" id = "myModal2" role = "dialog">
            <div class = "">
               Modal content
              <div class = "">
                <div class = "">
                  <button type = "button" class = "close" data-dismiss = "modal">&times;</button>
                  <h4 class = "">Please write the message</h4>
                </div>
                <div class = "">
                  <form class = "">
                    <div class = "">
                        <label for = "name">Message to be anncounced:</label>
                        <input type = "text" name = "name" ng-model = "form.announcementmsg" >
                        <button class = "btn btn-primary" ng-click = "addAnnouncement(form.announcementmsg)" data-dismiss = "modal">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>-->

      <button type = "button" class = "button button-assertive button-block" ng-if="(myEvents[eventID] | role)=='member' && (myEvents[eventID] | teamId)==teamID" ng-click = "QuitTeam()">Quit this team</button>
  </ion-content>
</ion-view>