<ion-view cache-view="false">
  <ion-nav-title> {{data.name}} Page </ion-nav-title>
  <ion-content class="padding">
    <div class="list card">
        <div class="item item-divider">
            <div class="row row-center">
                <div class="col">
                    <font size="4"><i class="icon ion-clipboard"></i>    <b>Team Information<b></font>
                </div>
                <div class="col text-right">
                    <button class = "button button-clear button-dark" ng-click="changeTeamInfoDialogue()" ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID">
                        <i class="icon ion-compose"></i>
                    </button>
                </div>
            </div>
        </div>
        <span class="item">
            <h4 style="color: grey;">Team Name</h4>
            {{teamdata.name}}
        </span>
        <span class="item" ng-href="#/dashboard/profile/{{teamdata.leader}}">
            <h4 style="color: grey;">Team leader</h4>
            {{users.$getRecord(teamdata.leader).readOnly.name}}
        </span>
        <span class="item">
            <h4 style="color: grey;">Team info</h4>
            <span ng-if="!editingInfo">{{teamdata.desc}}</span>
        </span>
        <span class="item" ng-if = "(myEvents[eventID] | teamId)==teamID || (myEvents[eventID] | role)=='tba' || (myEvents[eventID] | role)=='admin'">
            <h4 style="color: grey;">Role</h4>
            {{myEvents[eventID] | role}} 
        </span>
        <!--<span class="item" ng-if="(myEvents[eventID] | role)=='tba' || (myEvents[eventID] | role)=='visitor'">
            <h4 style="color: grey;">Role</h4>
            {{myEvents[eventID] | role}}
        </span>-->
        <span class="item">
            <h4 style="color: grey;">Team size</h4>
            {{teamdata.currentSize}} / {{teamdata.max}}
        </span>
        
    </div>
    
    <!-- Basic Team Information -->
    <button class = "button button-positive button-block" ng-if="((myEvents[eventID] | role)=='tba' )&& !alreadyApplied()" ng-click = "ApplyTeam()">Apply for this team</button>
    <button class = "button button-positive button-outline button-block" ng-click="Change_Leader()" ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID">Change team leader</button>

    <!-- Members -->
    <ion-list>
        <div class="item item-divider">
            <div class="icon-left">
                <font size="4"><i class="icon ion-person-stalker"></i>    <b>Members</b>    </font>
            </div>
        </div>      
        <ion-item ng-repeat="(id,uid) in filterLeader(members,teamdata.leader)" ng-href= "#/dashboard/profile/{{uid}}">
            <div class="row row-center">
                <div class="col">
                    {{users.$getRecord(uid).readOnly.name}}
                </div>
                <div class="col text-right">
                    <button class="button button-assertive button-small" ng-click="DeleteMember(uid)" ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID">
                        <i class="icon ion-close-round"></i>
                    </button>
                    <button class="button button-assertive button-small" ng-click="SetLeader(uid)" ng-if="(myEvents[eventID] | role)=='leader' && leader_change && (myEvents[eventID] | teamId)==teamID">
                        <i class="icon ion-ios-plus"></i>
                    </button>
                </div>
            </div>
        </ion-item>
    </ion-list>


    <br>
    <!-- Tags -->
              
    <ion-list>
        <div class="item item-divider">
            <div class="row row-center">
                <span class="icon-left col">
                    <font size="4"><i class="icon ion-ios-pricetag"></i>    <b>Tags</b></font>
                </span>
                <div class="col text-right">
                    <button class="button button-dark button-clear" ng-click="ManageTagDialogue()" ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID" >
                        <i class="icon ion-compose"></i>
                    </button>
                    <!--<button class="button button-assertive button-small" ng-click="deleteAnnouncementChoice()" ng-if="(myEvent | role)=='admin'">
                        <i class="icon ion-ios-trash"></i>
                    </button>-->
                </div>
            </div>
        </div>        
        <div class="item item-text-wrap">
          <font size="3">Skill</font>
          <br><br>
          <span ng-repeat="(name,content) in filterSkillTags(skilltags)">
                <!--<button class="btn btn-xs btn-default" ng-style="{backgroundColor:content.color}" ng-if="content.value">{{name}} [{{content.value}}]</button>-->
                <button class="button button-royal button-small" ng-if="content.value && content.color=='red'">{{name}} [{{content.value}}]</button>
                <button class="button button-royal button-small button-outline" ng-if="content.value && content.color=='green'">{{name}} [{{content.value}}]</button>
          </span>
        </div>
        <div class="item item-text-wrap">
          <font size="3">Language</font>
          <br><br>
          <span ng-repeat="(name,value) in filterLanguageTags(languagetags)">
              <button class="button button-energized button-small button-outline">{{name}}</button>
          </span>
        </div>
        <div class="item item-text-wrap">
          <font size="3">Manner</font>
          <br><br>
          <span ng-repeat="(name,value) in filterMannerTags(mannertags)">
              <button class="button button-assertive button-small button-outline">{{name}}</button>
          </span>
        </div>
    </ion-list>

    <br>

    <!-- Applications -->
          
    <ion-list ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID" >
        <div class="item item-divider">
          <span class="icon-left col">
              <font size="4"><i class="icon ion-ios-clipboard"></i>    <b>Applications</b></font>
          </span>

        </div>
        <ion-item>
          <form name="myForm">
              <label class="item item-input item-select">
                <div class="input-label">
                  Status
                </div>
                <select name="repeatSelect" id="repeatSelect" ng-model="search_model_appli">
                  <option selected value = "all">All applications</option>
                  <option ng-repeat="(key, status) in statusList" value="{{status}}">{{status}}</option>
                </select>
              </label>
          </form>
        </ion-item>

      <ion-item ng-repeat="(uid,status) in filterByStatus(applications,search_model_appli)">
        <div class="row row-center">
          <a class="icon-left col" href= "#/dashboard/profile/{{uid}}">{{users.$getRecord(uid).readOnly.name}} : {{status}}</a> 
          <div style="float: right">
            <button class="button button-balanced button-small" ng-click="accept_Application(uid)" ng-if = "(myEvents[eventID] | role)=='leader' &&  status == 'pending'  && (myEvents[eventID] | teamId)==teamID" data-toggle="tooltip" data-placement="bottom" title="Accept the application">
              <i class="icon ion-checkmark-round"></i>
            </button>
            <button class="button button-assertive button-small" ng-click="decline_Application(uid)" ng-if = "(myEvents[eventID] | role)=='leader' &&  status == 'pending'  && (myEvents[eventID] | teamId)==teamID" data-toggle="tooltip" data-placement="bottom" title="Decline the application">
              <i class="icon ion-close-round"></i>
            </button>
          </div>
        </div>
      </ion-item>
    </ion-list>
          
    <br>
      <!-- Invitations -->
      <ion-list ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID" >
          <div class="item item-divider">
            <span class="icon-left col">
                <font size="4"><i class="icon ion-ios-clipboard"></i>    <b>Invitations</b></font>
            </span>
          </div>
          <ion-item>
            <form name="myForm">
                <label for="repeatSelect"> Search invitations by status: </label>
                <select name="repeatSelect" id="repeatSelect" ng-model="search_model_invi">
                  <option selected value = "all">All invitations</option>
                  <option ng-repeat="(key, status) in statusList" value="{{status}}">{{status}}</option>
                </select>
                </label>
            </form>
          </ion-item>

        <ion-item ng-repeat="(uid,status) in filterByStatus(invitations,search_model_invi)">
          <div class="row row-center">
            <a class="icon-left col" href= "#/dashboard/profile/{{uid}}">{{users.$getRecord(uid).readOnly.name}} : {{status}}</a>
          </div>
        </ion-item>
      </ion-list>
          
      <br>

      <!-- Announcements -->

        <div class="card list">
          <div class="item item-divider">
              <div class="row row-center">
                  <span class="icon-left col">
                      <font size="4"><i class="icon ion-speakerphone"></i>    <b>Announcments</b></font>
                  </span>
                  <div class="col text-right">
                      <button class="button button-positive button-small" ng-click="addAnnouncementDialogue()" ng-if="(myEvents[eventID] | role)=='leader'  && (myEvents[eventID] | teamId)==teamID">
                          <i class="icon ion-compose"></i>
                      </button>
                      <button class="button button-assertive button-small" ng-click="deleteTeamAnnouncementChoice()" ng-if="(myEvents[eventID] | role)=='leader'  && (myEvents[eventID] | teamId)==teamID">
                          <i class="icon ion-ios-trash"></i>
                      </button>
                  </div>
              </div>
          </div>

          <div class="item" ng-repeat="x in announcements.slice().reverse()">
              <button class="button button-assertive button-small"  ng-click="deleteAnnouncement(x.$id)" ng-if="isDeletingTeamAnn && (myEvents[eventID] | role)=='leader'  && (myEvents[eventID] | teamId)==teamID">
                  <i class="icon ion-minus-round"></i>
              </button>
              {{x.content}}
              <h4 style="color: grey;">{{x.timeStamp | DateFormat | date:'yyyy-MM-dd HH:mm' }}</h4>
          </div>
      </div>
      <br>

      <!--Recommandation-->
      <ion-list ng-if="(myEvents[eventID] | role)=='leader' && (myEvents[eventID] | teamId)==teamID" >
        <div class="item item-divider">
            <div class="row row-center">
                <div class="col">
                    <font size="4"><i class="icon ion-thumbsup"></i>    <b>Recommendation</b></font>
                </div>
                <div class="col">
                    <button class="button button-assertive button-small" ng-click="recommend()">
                        <i class="icon ion-thumbsup"></i>&nbsp;&nbsp;Let's GO!
                    </button>
                </div>
            </div>
        </div>
        <ion-item ng-repeat="(uid, score) in tba_featurelist">
          <div class="row row-center">
              <div class="col">
                <a ng-href="#/dashboard/event/{{eventID}}/team/{{team.key}}">{{users.$getRecord(uid).readOnly.name}} [{{score}}]</a>
              </div>
              <div style="float: right">
                <button class="button button-balanced button-small" ng-click="invite(uid)" ng-if="(myEvents[eventID] | role)=='leader' && validInvite(uid)">Invite</button>
              </div>
          </div>
        </ion-item>
    </ion-list>


          
      <button type = "button" class = "button button-assertive button-block" ng-if="(myEvents[eventID] | role)=='member' && (myEvents[eventID] | teamId)==teamID" ng-click = "QuitTeam()">Quit this team</button>
  </ion-content>
</ion-view>